.MoviePage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

