.Menu {
  display: flex;
  list-style: none;
}

.MenuItem {
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
}

.Link {
  color: white;
  text-decoration: none;
}

.Link:hover {
  color: blue;
}

@media (max-width: 700px) {
  .MenuItemHidden{
    display: none;
  }
}