.Footer {
  background-color: #102027;
  color: white;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.FooterParagraph {
  text-transform: uppercase;
}

.FooterAnchor {
  text-decoration: none;
  color: white;
}
